* {
  margin: 0;
  padding: 0;
  border: none;
}

.button-style {
  display: block;
  text-decoration: none;
  margin: 15px 1%;
  padding: 5px 1%;
}
.button-style:hover{
  transform: scale(1.1);
  transition: .75s;
}

.view {
  clear: left;
}

button {
  svg{
    width: 25px;
    height: 25px;
  }
}
button:hover {
  transform: scale(1.1);
  transition: .75s;
}

.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}
