/***** Project Variables *****/
/***** Typography Variables *****/
/***** Color Variables *****/
* {
  margin: 0;
  padding: 0;
  border: none; }

.button-style {
  display: block;
  text-decoration: none;
  margin: 15px 1%;
  padding: 5px 1%; }

.button-style:hover {
  transform: scale(1.1);
  transition: 0.75s; }

.view {
  clear: left; }

button svg {
  width: 25px;
  height: 25px; }

button:hover {
  transform: scale(1.1);
  transition: 0.75s; }

.left {
  float: left; }

.right {
  float: right; }

.clearfix {
  clear: both; }

.container {
  max-width: 1020px;
  margin: 30px auto;
  padding: 1%;
  border: 1px solid #2c3e50;
  overflow: hidden; }

header {
  text-align: center; }

.car-info {
  position: relative;
  width: 30.33333%;
  padding: 1%;
  margin: 1% 0.5%;
  float: left; }
  .car-info a {
    padding: 5px 2%; }
  .car-info button {
    position: absolute;
    top: 5px;
    right: 5px; }

form {
  width: 50%;
  margin: 0 auto;
  overflow: hidden; }
  form div {
    width: 98%;
    margin: 10px auto;
    float: left;
    clear: left; }
    form div label:not(.radio) {
      float: left;
      clear: left;
      text-align: right;
      margin-right: 15px;
      width: 125px; }
    form div select, form div input[type="text"], form div input[type="radio"] {
      border: 1px solid #2c3e50; }
    form div input[type="text"] {
      line-height: 1.5em;
      padding: 5px 1%;
      width: 300px; }
    form div .radio {
      padding-left: 5px; }
    form div select {
      width: 310px; }
  form .button-style {
    font-size: 18px;
    width: 50%;
    display: block;
    margin: 15px auto;
    text-align: center; }

body {
  font-family: 'rooney-web', serif; }

h1, h2, h3, h4, .button-style {
  font-family: 'brandon-grotesque', sans-serif; }

body {
  color: #2c3e50; }

.container {
  background: #3498db; }

form {
  background: #ecf0f1; }

button {
  background: none; }
  button svg {
    fill: #2c3e50; }

button:hover svg {
  fill: #c0392b; }

.button-style {
  color: #ecf0f1;
  background: none;
  border: 2px solid #ecf0f1; }

.button-style:hover {
  color: #C2F970;
  border: 2px solid #C2F970; }

form {
  border: 2px solid #2c3e50; }
  form .button-style {
    color: #2c3e50;
    border: 2px solid #2c3e50; }
  form .button-style:hover {
    color: #3498db;
    border: 2px solid #3498db; }

.car-info {
  box-shadow: 2px 2px 5px #2c3e50;
  background: #ecf0f1; }
  .car-info .button-style {
    color: #2c3e50;
    border: 2px solid #2c3e50; }
  .car-info .button-style:hover {
    color: #3498db;
    border: 2px solid #3498db; }
